@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0; 
}

a {
   text-decoration: none;
   }

.d-f {
   display: flex;

}
 
.j-between {
   justify-content: space-between;


}

.wrapper {
   max-width: 1563px;
   margin: 0 auto;
}

body {
   background: url('img/BG.png') no-repeat;
   height: 100vh;
   background-size: 100%;
   background-position: center;
}

nav {
   text-transform: uppercase;
   font-size: 14px;
   padding: 40px 0;
border-bottom: 1px #e5e4e4 solid;
}

h1 {
   font-weight: 300;
   max-width: 670px;
   font-size: 55px;
   line-height: 85px;   
}

.header-bottom .present {
   max-width: 235px;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.header-bottom .pdf_block {
   font-size: 12px;
   align-items: center;
   gap: 17px;
   
}

.pdf_block img {
   width: 43px;
   height: 43px;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
   display: block;
   border-radius: 50%;

}

.pdf_block p  {
   max-width: 159px;
}

.social_block {
   gap: 10px;
   

}

