@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0; 
}

a {
   text-decoration: none;
   }

.d-f {
   display: flex;

}
 
.j-between {
   justify-content: space-between;


}

.wrapper {
   max-width: 1563px;
   margin: 0 auto;
}

body {
   background: url('img/BG.png') no-repeat;
   min-height: 100vh;
   background-size: 100%;
   background-position: center;

}

nav {
   text-transform: uppercase;
   font-size: 14px;
   padding: 40px 0;
   border-bottom: 1px #e5e4e4 solid;
}

h1 {
   font-weight: 300;
   max-width: 670px;
   font-size: 55px;
   line-height: 85px;   
}

.header-bottom .present {
   max-width: 235px;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.header-bottom .pdf_block {
   font-size: 12px;
   align-items: center;
   gap: 17px;
   
}
.header-bottom {
   padding: 30px 0;


}

.pdf_block img {
   width: 43px;
   height: 43px;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
   display: block;
   border-radius: 50%;

}

.pdf_block p  {
   
   font-size: 14px;
   border-bottom: 2px dotted  #12C868;;
   
}

.social_block {
   gap: 10px;
   
}

.callback h2 {
   font-size: 22px;
   font-weight: 600;
   color: #1C1C1C;
   
}

.callback p {
   color: #12C868;
   border-bottom: 2px dotted;
   width: fit-content;
   margin: 0 auto;

}

.features  {
   flex-direction: column;
   padding: 63px 41px;
   max-width: 170px;
   background: #FFFFFF;
   box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
   gap: 10px;

   }

.feature-item p {
   max-width: 160px;
   text-align: center;
   margin: 0 auto;
   font-size: 14px;
   line-height: 22px;

}

.feature-item {
   padding: 10px 0;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

}

.content {
   display: flex;
   gap: 71px;
   
}

.main  {
   flex-direction: column;
   gap: 25px;
     
}

.main_dots {
   gap: 20px;
}

.main_dots img {
   display: block;
   width: 9px;
   
}

.main_dots div {
   gap: 4px;


}

.main_dots p {
   font-weight: 400;
   font-size: 32px;

}

.main_buttons {
   gap: 10px;
}

.main_buttons button {
   width: 375px;
   padding: 27px 50px;
   display: flex;
   font-weight: 600;
   font-size: 14px;
   line-height: 22px;
   background-color: #12C868;
   color: #FFFFFF;
   align-items: center;
   border-radius: 100px;
   border: none;
   transition: .5s;
   cursor:pointer;
}
.main_buttons button:last-child {
   background-color: #F38120;


}
.main_question {
   max-width: 276px;
   text-align: center;

}
.main_buttons button:first-child:hover {
      background: #21E27C;

}

.main_buttons button:last-child:hover {
   background: #FD9C49;

}

.modal {
   height: 100%;
   width: 100%;
   background-color: #1c1c1ca3;
   position:fixed;
   top:0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

.modal_body {
   background-color: rgb(230, 232, 235);
   padding: 40px;


}

.modal_close {
   justify-content:flex-end;

}

.modal_content {
   padding: 20px 60px;



}
.modal_description {
   max-width: 340px;
   text-align: center;
   font-size: 16px;
   line-height: 24px;
   margin: 5px auto;

}

.modal_content h2 {
   font-weight: 500;
   font-size: 30px;
   line-height: 30px;
   text-align: center;


}

.modal_worktime {
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   margin-top: 24px;
   

}

.form_block {
   width: 90%;
   

}

form p {
    font-size: 12px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;

}

form input, form button{
   font-size: 18px;
   padding: 25px 0;
   padding-left: 20px;
   width: 100%;
   border-radius: 100px;
   box-sizing: content-box;


}

